body{
  background-color: rgb(240, 255, 255);
}

#mainheading{
  font-family: cursive;
}

#unipic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px dotted black;
  width: 40%;
}

.introduction{
  margin: auto;
  width: 50%;
  font-family: 'Trebuchet MS', sans-serif;
  
}
